@import url("https://fonts.googleapis.com/css?family=Lexend+Deca|Libre+Caslon+Display&display=swap");
/* Main Content Style */
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Lexend Deca", sans-serif; }

.main {
  background-color: #D4CAB1;
  background-repeat: repeat;
  padding-bottom: 25px;
  min-height: 100%; }

.navbar {
  background-color: #BC0301 !important;
  position: fixed;
  z-index: 999;
  width: 100%;
  box-shadow: 0 4px 2px 1px rgba(0, 0, 0, 0.2); }

.navbar-light .navbar-nav .nav-link {
  color: #FF6E68; }

.nav-btn {
  padding-left: 10px; }

.carousel-inner .carousel-item img {
  margin: 0 auto; }

.ind-content {
  padding-top: 120px; }

.card-container {
  padding-top: 15px; }

.card {
  border-color: #ECBB5C;
  transition: box-shadow .3s; }

.card:hover {
  box-shadow: 2px 4px 14px rgba(33, 33, 33, 0.2); }

.card-body {
  background: #FF6E68; }

.card-img-top {
  width: 100%;
  border-top-left-radius: calc(.25rem - 1px);
  border-top-right-radius: calc(.25rem - 1px);
  height: 160px; }

.footer {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #2A222D; }

.github {
  color: #FF6E68;
  text-decoration: none; }

.github:hover {
  color: #BC0301; }

.about-content {
  padding-top: 25px; }

.btn-primary {
  background-color: #2A222D;
  border-color: #2A222D;
  color: #FF6E68; }

.btn-secondary {
  background-color: #FF6E68;
  border-color: #FF6E68;
  color: #2A222D; }

.logged {
  color: #FF6E68;
  padding-left: 5px;
  padding-top: 8px; }

.btn-primary:hover {
  background-color: #FF6E68;
  border-color: #FF6E68;
  color: #BC0301; }

.btn-secondary:hover {
  background-color: #D4CAB1;
  border-color: #D4CAB1;
  color: #2A222D; }

.pagination {
  padding-top: 15px; }

.paginate {
  padding: 3px;
  margin: 2px; }

/* Recipe Content Styling */
.recipe-container {
  padding-top: 120px; }

.recipe-img {
  width: 600px;
  height: 375px; }

.unordered {
  list-style-type: none;
  padding-top: 15px; }

.method {
  margin: 4px;
  padding: 2px; }

a:not([href]):not([tabindex]) {
  color: #FF6E68;
  text-decoration: none; }

/* Login / Register styling */
.login-form {
  padding-top: 5%;
  width: 100%;
  max-width: 330px;
  margin: 0 auto; }

.login-container {
  background-color: #BC0301;
  color: #FF6E68;
  height: 100%; }

/*-----------------------Add/Edit recipe styles */
.recipe-container-add {
  padding-top: 15px;
  background-color: #2A222D;
  color: #FF6E68;
  min-height: 100%; }

.add-container {
  background: #BC0301;
  padding: 15px; }

.spacing {
  padding: 4px; }

textarea,
input {
  background-color: #D4CAB1;
  border-color: #D4CAB1;
  margin: 4px;
  padding: 3px; }

#search_db {
  background-color: #FF6E68;
  border-color: #D4CAB1;
  border-radius: 0.5px;
  color: #2A222D; }

.ingredients {
  list-style: none;
  width: 40%; }

.methods {
  width: 80%;
  list-style: none; }

#recipe_desc {
  width: 80%; }

/*------------------------Media Queries */
@media screen and (max-width: 767px) {
  /* -------- Nav bar settings --- */
  .navbar-nav {
    padding-top: 10px; }

  .navbar-light .navbar-nav .nav-link {
    margin-top: 5px;
    color: #FF6E68;
    width: 50%; }

  .recipe-container-add {
    padding-top: 15px;
    background-color: #2A222D;
    color: #FF6E68; }

  .ingredients {
    list-style: none;
    width: 60%; }

  .main {
    margin-top: -25px; }

  .ind-content {
    padding-top: 150px; }

  .card-container {
    padding-top: 12px;
    margin-left: 30px; }

  #recipes {
    margin-left: -45px; }

  /* Recipe Styling Mobile */
  .recipe-container {
    padding-top: 150px; }

  .recipe-img {
    height: 30%;
    width: auto;
    padding-left: 25px; } }
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .navbar-nav {
    padding-top: 10px; }

  .nav-btn {
    width: 50%; } }

/*# sourceMappingURL=main.css.map */
