{% extends "base.html" %}{%block nav%}
<header>
    <div class="target">
        <nav class="navbar navbar-expand-lg navbar-light sticky">
            <a class="navbar-brand" href="{{url_for('index')}}">
    <img src="{{url_for('static', filename='images/logo.png')}}" class="d-inline-block align-top" alt="CookBook">
  </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    {% if 'username' in session %}
                    <div class="nav-btn">
                        <a class="nav-item nav-link text btn btn-primary" href="{{url_for('index')}}"> <i class="fas fa-home"></i>  Home <span class="sr-only">(current)</span></a>
                    </div>
                    <div class="nav-btn">
                        <a class="nav-item nav-link btn btn-primary" href="{{ url_for('addrecipe') }}"><i class="fas fa-list"></i> New Recipe </a>
                    </div>
                    <div class="nav-btn">
                        <a href="{{url_for('logout')}}" class="nav-item nav-link btn btn-primary"><i class="fas fa-sign-out-alt"></i>  Logout</a>
                    </div>
                    <div class="d-flex flex-row-reverse logged">
                        <h5>You're logged in as: {{ session.username}}</h5>
                    </div>
                    {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages%}
                    <div class="nav-btn">{{ message }}</div>
                    {% endfor %} {% endif %} {% endwith %} {% else %}
                    <div class="nav-btn">
                        <a class="nav-item nav-link text btn btn-primary" href="{{url_for('index')}}"> <i class="fas fa-home"></i> Home <span class="sr-only">(current)</span></a>
                    </div>
                    <div class="nav-btn">
                        <a class="nav-item nav-link btn btn-primary" href="{{ url_for('login') }}"><i class="fas fa-sign-in-alt"></i> Login </a>
                    </div>
                    <div class="nav-btn">
                        <a class="nav-item nav-link btn btn-primary" href="{{ url_for('register') }}"><i class="fas fa-user-plus"></i> Register </a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </nav>
    </div>
</header>
{% endblock %}
