//Fonts
@import url('https://fonts.googleapis.com/css?family=Lexend+Deca|Libre+Caslon+Display&display=swap');
//Mixins
@mixin text {
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 300;
    font-style: normal;
    color: $default-text;
}

//Colors
$default-text: #2A222D;
$main-bg: #D4CAB1;
$red: #BC0301;
$light-red: #FF6E68;
$footer: #2A222D;
$yellow: #ECBB5C;
/* Main Content Style */

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "Lexend Deca", sans-serif;
}

.main {
    background-color: $main-bg;
}

.navbar {
    background-color: $red!important;
    position: fixed;
    z-index: 999;
    width: 100%;

}

.navbar-light .navbar-nav .nav-link {
    color: $light-red;
}

.nav-btn {
    padding-left: 10px;
}


.carousel-inner .carousel-item img {
    margin: 0 auto;
}

.ind-content {
    padding-top: 20px;
}


.card-img-top {
    width: 100%;
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
    height: 160px;
}

.footer {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: $default-text;
    color: $main-bg;
}

.about-content {
    padding-top: 25px;
}

.btn-primary {
    background-color: $default-text;
    border-color: $default-text;
    color: $light-red;
}

.btn-primary:hover{
    background-color: $light-red;
    border-color: $light-red;
    color: $red;
}

/* Recipe Content Styling */

.recipe-container {
    padding-top: 15px;
}

.recipe-img {
    width: 600px;
    height: 375px;
}


/*------------------------Media Queries */

@media screen and (max-width: 767px) {
    .carousel-item.active {
        height: 30vh;
    }
    .carousel-indicators {
        display: none;
    }
    .buttons-wrapper {
        display: none;
    }

    .card-container {
        padding-top: 12px;
    }
}
