{% extends 'base.html' %} {% block content %}
<!-- EDIT RECIPE page, delivers the recipe info from the DB to the user, ready for updating -->
<div class="container-fluid recipe-container-add">
    <div class="row">
        <div class="col">
            <h1>Add a recipe here:</h1>
        </div>
    </div>
    <form class="recipe-form-add text-center" method="POST">
        <div class="row spacing">
            <div class="col">
                <div class="card container add-container  d-flex justify-content-center">
                    <h4>Recipe Name</h4>
                    {{ form.hidden_tag() }} {{ form.recipe_name(placeholder='Lasanga') }}
                    <div class="row">
                        <div class="col">
                            {{ form.hidden_tag() }} {{ form.recipe_type.label }} {{ form.recipe_type(placeholder='Italian, Gluten Free etc.') }}
                        </div>
                        <div class="col">
                            {{ form.hidden_tag() }} {{ form.serving.label }} {{form.serving(placeholder='4')}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row spacing">
            <div class="col">
                <div class="card container add-container d-flex justify-content-center">
                    <h4>Recipe Description</h4>
                    {{ form.hidden_tag() }} {{form.recipe_desc(placeholder='A creamy Italian favourite, layers of tomato and cheesy sauces with plates of spaghetti inbetween. Great for a few days!')}}
                    <div class="row">
                        <div class="col">
                            {{ form.hidden_tag() }} {{form.prep_time.label}} {{form.prep_time(placeholder='25')}}
                        </div>
                        <div class="col">
                            {{ form.hidden_tag() }} {{form.cook_time.label}} {{form.cook_time(placeholder='40')}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">{{ form.hidden_tag() }} {{form.img_url.label}} {{form.img_url(placeholder='Paste it here!')}}</div>
                    </div>
                </div>

            </div>
        </div>
        <!-- Custom input fields for the ing/methods Issues with displaying this without placesholders -->
        <div class="row spacing">
            <div class="col">
                <div class="card container add-container text-center d-flex justify-content-center">
                    <h4>Ingredients</h4>
                    <div class="row d-flex justify-content-center">
                        {% for i in recipe.ingredients %}
                        <input type="text" name="ingredients" class="ingredients" value="{{ i }}"/> {% endfor %}
                    </div>
                    <div class="row">
                        <div class="col text-center button-container">
                            <button class="btn btn-secondary i-add" type="button">+</button>
                            <button class="btn btn-secondary i-remove" type="button">-</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row spacing">
            <div class="col">
                <div class="card container add-container text-center d-flex justify-content-center">
                    <h4>Method</h4>
                    <div class="row">
                        <div class="col">
                            {% for m in recipe.method %}
                            <input type="text" name="methods" class="methods" value=" {{ m }} "/> {% endfor %}
                        </div>
                        <div class="row">
                            <div class="col text-center button-container">
                                <button class="btn btn-secondary m-add" type="button">+</button>
                                <button class="btn btn-secondary m-remove" type="button">-</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h6><a href="{{url_for('index')}}" class="btn btn-primary">Go back</a></h6>
            </div>
            <div class="col">
                <button class="btn btn-secondary" type="submit" name="action">Add</button>
            </div>
        </div>
    </form>
</div>
{%endblock%} {% block footer %} {% include 'includes/footer.html' %} {% endblock %} %}
