{% extends 'includes/navbar.html'%} {% block content %}

<main role="main" class="main">

    <div class="container ind-content">
        <h3>Our Recipes</h3>
        <div class="container">
            <div class="row" id="#recipes"> <!-- For loop for displaying recipes on the index page, each carded and with an image--> 
                {% for r in recipe %}
                <div class="col card-container">
                    <div class="card text-center" style="width: 18rem;">
                        <img class="card-img-top" src="{{ r.img_url }}" alt="{{r.recipe_name }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ r.recipe_name }}</h5>
                            <p class="card-text">{{ r.recipe_type }}</p>
                            <a href="{{ url_for('recipe', recipe_id=r._id) }}" class="btn btn-primary">Full Recipe</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

    </div>
    <div class="container about-content">
        <h6>About</h6>
        <p>This site is a project for Code Institute, I hope that it can inspire users to cook more healthily and more often.</p>
    </div>
</main>
{% endblock %} {% block footer %} {% include "includes/footer.html" %} {% endblock %}
