{% extends 'base.html' %}{% block content %}
<!-- Login page for users, with redirect for registering too. -->
<div class="container-fluid login-container">
    <form class="login-form text-center" method="POST">
        <img class="mb-4" src="{{url_for('static', filename='images/logo.png')}}" alt="CookBook Logo"> {{ form.hidden_tag() }}
        <h6 class="text">Not a member? <a href="{{url_for('register')}}">Sign up here</a></h6>

        <p>
            {{ form.username.label }}<br> {{ form.username(size=32, required=true, placeholder="JoeBloggs123") }}
        </p>
        <p>
            {{ form.password.label }}<br> {{ form.password(size=32, required=true, placeholder="Password") }} {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages%}
            <p>{{ message }}</p>
            {% if error %}
            <p class=error><strong>Error:</strong> {{ error }} {% endif %} {% endfor %} {% endif %} {% endwith %}
                <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
                <button class="btn btn-primary" type="submit" name="action">Login</button>
                <h6><a href="{{url_for('index')}}">Go back</a></h6>
    </form>
</div>
{% endblock %}
