{% extends 'base.html' %} {% block nav %} {% include 'includes/navbar.html' %} {% endblock %} {% block content %}
<main class="main">
    <div class="container recipe-container text">
        <div class="row">
            <div class="col-md">
                <h3>{{ recipe.recipe_name }}</h3>
                <p>{{recipe.recipe_desc}}</p>
                <h4>Ingredients</h4>
                <!-- For Loop iterating over the array of ingredients -->
                <ul>
                    {% for i in recipe.ingredients %}
                    <li>
                        {{i}}
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-sm mobile-fix">
                <img class=" img-fluid mx-auto" src="{{recipe.img_url}}"></img>
                <div class="col text-center">
                    <ul class="unordered">
                        <li>Serving Size {{ recipe.serving }} <i class="fas fa-utensils"></i> </li>
                        <li> Prep Time {{recipe.prep_time}} <i class="fas fa-tasks"></i> </li>
                        <li>Cooking Time {{recipe.cook_time}} <i class="fas fa-clock"></i> </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <h4>Method</h4>
                <!-- For Loop iterating over the array of the method.-->
                <ol>
                    {% for x in recipe.method %}

                    <li class="method">
                        {{ x }}
                    </li>
                    {% endfor %}
                </ol>
            </div>
        </div>
        {% if 'username' in session %}
        <div class="row">
            <div class="col">
                <a href="{{url_for('editrecipe', recipe_id=recipe._id)}}" class="btn nav-btn btn-primary"> Edit Recipe</a>
                <button type="button" class="btn nav-btn btn-primary" data-toggle="modal" data-target="#deleteModal"> Delete Recipe </button>
            </div>
        </div>
<!-- Modal Content for ensuring user wants to actually delete the recipe -->
        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Recipe Deletion</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
                    </div>
                    <div class="modal-body">
                        <h4>WARNING</h4>
                        <p>This is irreversible, are you sure you want to continue?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                        <a href="{{ url_for('delete', recipe_id=recipe._id) }}" class="btn nav-btn btn-primary" method="POST GET">Yes, I want to delete.</a>
                    </div>
                </div>
            </div>
        </div>

        {% endif %}
    </div>
</main>


{% endblock %}
<!-- Footer Content found in includes folder. -->
{% block footer %} {% include 'includes/footer.html' %}{% endblock %}
