{% extends 'base.html' %} {% block nav %} {% include 'includes/navbar.html'%} {% endblock %} {% block content %}
<!-- Results page, same pagination as the main page however this filters results based on ingredients 
and based on the recipe type with a text search index of the database -->
<main role="main" class="main">

    <div class="container ind-content">

        <div class="container">
            <div class="row">
                <div class="col">
                    <h3>Our Recipes</h3>
                </div>
                <div class="col">

                    <form action="{{ url_for('search') }}">
                        <i class="fas fa-search"></i>
                        <input type="text" name="search_db" id="search_db" placeholder="Thai? Indian?" />
                        <input type="submit" value="Search" class="btn btn-primary" />
                    </form>
                </div>
            </div>
            <div class="container-fluid"></div>
            <div class="row" id="#recipes">
                <!-- For loop for displaying recipes on the searched page, each carded and with an image-->
                {% if t_total > 0 %} {% for r in results %}
                <div class="col card-container">
                    <div class="card text-center" style="width: 18rem;">
                        <img class="card-img-top" src="{{ r.img_url }}" alt="{{r.recipe_name }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ r.recipe_name }}</h5>
                            <p class="card-text">{{ r.recipe_type }}</p>
                            <a href="{{ url_for('recipe', recipe_id=r._id) }}" class="btn btn-primary">Full Recipe</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <ul class="pagination">
            {% for page_number in pages %} {% if page_number == current_page %}
            <li class="active"><a class="btn btn-primary">{{ page_number }}</a></li>
            {% else %}
            <li class="waves-effect"><a href="{{ url_for('index', current_page=page_number) }}" class="btn btn-primary">{{ page_number }}</a></li>
            {% endif %} {% endfor %}
        </ul>
    </div>
    {% else %}
    <h4>Oops! No results matching your search!</h4>
    {% endif %}

</main>

{% endblock %} {% block footer %} {% include 'includes/footer.html' %} {% endblock %}
